# Common requirements
Pillow
tk

# Raspberry Pi specific requirements, only install on RPi
lgpio; platform_system == "Linux"
adafruit-circuitpython-ssd1306; platform_system == "Linux"
adafruit-blinka; platform_system == "Linux" 